@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100%;
}

.page-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.page-transition.transitioning {
  opacity: 0.5;
}